.RedMarkerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.RedMarkerBalloon {
  position: relative;
  z-index: 100;
  cursor: zoom-in;
  background-color: rgba(234, 67, 53, 0.6);
  backdrop-filter: blur(4px);
  color: black;
  font-size: 1.2em;
  padding: 6px 8px;
  border-radius: 4px;
  text-align: center;
}

.RedMarkerBalloon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid rgba(234, 67, 53, 0.6);
}

.RedMarkerBalloonTitle {
  font-size: 1.3em;
  font-weight: 500;
}

.RedMarkerBalloonTitleMoreZoom {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.RedMarkerBalloonContent {
  padding-top: 4px;
  display: flex;
  align-items: center;
}

.RedMarkerBalloonDesc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.RedMarkerBalloonPhoto {
  width: 60px;
  height: 60px;
  padding: 0;
}

.RedMarkerBalloonPhoto img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: 50% 50%;
}
